<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<script src="https://cdn.jsdelivr.net/npm/vant@next/lib/vant.min.js"></script>
</head>
<body>
    <div id="app"></div>
</body>

<script>
    class Captcha {
        pre
        next
        input
        constructor(input, pre, next) {
            this.input = input;
            this.pre = document.querySelector(pre);
            this.next = document.querySelector(next);
        }
    }
    
  // 在 #app 标签下渲染一个按钮组件
    const app = Vue.createApp({
        template: `<div id='captcha'>
            <input v-model="input_0" data-index='0' type="number" @input="inputCaptcha(0)" @keyup="back($event, 0)">
            <span class='sep'>-</span>
            <input v-model="input_1" data-index='1' type="number" @input="inputCaptcha(1)" @keyup="back($event, 1)">
            <span class='sep'>-</span>
            <input v-model="input_2" data-index='2' type="number" @input="inputCaptcha(2)" @keyup="back($event, 2)">
            <span class='sep'>-</span>
            <input v-model="input_3" data-index='3' type="number" @input="inputCaptcha(3)" @keyup="back($event, 3)"> 
            <span class='sep'>-</span>
            <input v-model="input_4" data-index='4' type="number" @input="inputCaptcha(4)" @keyup="back($event, 4)">
            <span class='sep'>-</span>
            <input v-model="input_5" data-index='5' type="number" @input="inputCaptcha(5)" @keyup="back($event, 5)">
            <input :value='result' id='captcha-result' hidden type="text">
            <button :disabled='disabled' @click='submit'>click</button>
        </div>`,
    setup(props, context) {
        // input组件的 v-model
        const [input_0, input_1, input_2, input_3,input_4, input_5] = [Vue.ref('') , Vue.ref(''), Vue.ref(''), Vue.ref(''), Vue.ref(''), Vue.ref('')]
        // 最终结果
        const result = Vue.ref('');
        // 提交按钮是否可点击
        const disabled = Vue.ref(true)

        let inputs = {}
        Vue.onMounted(() => {
            inputs = {
                '0':  new Captcha(input_0, null, `#captcha input[data-index='1']`),
                '1': new Captcha(input_1, `#captcha input[data-index='0']`, `#captcha input[data-index='2']`),
                '2': new Captcha(input_2, `#captcha input[data-index='1']`, `#captcha input[data-index='3']`),
                '3': new Captcha(input_3, `#captcha input[data-index='2']`, `#captcha input[data-index='4']`),
                '4': new Captcha(input_4, `#captcha input[data-index='3']`, `#captcha input[data-index='5']`),
                '5': new Captcha(input_5, `#captcha input[data-index='4']`, null),
            }
        })

        // 获取最终验证码输入结果
        function getResult() {
            result.value =  `${input_0.value}${input_1.value}${input_2.value}${input_3.value}${input_4.value}${input_5.value}`;
            disabled.value = (result.value.length !== 6);
        }
        
         // 输入验证码时处理函数
        function inputCaptcha(index) {
            const captcha =  inputs[index]
            if (!captcha.input.value) {
                return;
            }
            captcha.input.value = Math.abs(captcha.input.value) > 10 ? Math.abs(Math.floor(captcha.input.value % 10)) : Math.abs(captcha.input.value);
            captcha.next?.focus();
            getResult()
        }

        // 删除验证码
        function back(event , index) {
            if (event.key === 'Backspace') {
                const captcha = inputs[index];
                if (!captcha.input.value) {
                    captcha.pre?.focus();
                    getResult();
                }
            }
        }

        function submit() {
            console.log(result.value);
        }

        return {
            input_0, input_1, input_2, input_3,input_4, input_5,
            result, disabled, 
            getResult, inputCaptcha, back,submit,
        }
    },
  });
  app.use(vant);

  // 通过 CDN 引入时不会自动注册 Lazyload 组件
  // 可以通过下面的方式手动注册
  app.use(vant.Lazyload);

  app.mount('#app');
</script>
<style>
    #captcha {
        display: flex;
        align-items: center;
    }
    #captcha .sep {
        margin: 5px;
    }
    /* 隐藏 input:number 组件的按钮 */
    #captcha input::-webkit-outer-spin-button,
    #captcha input::-webkit-inner-spin-button {
        appearance: none;
    }
    #captcha input[type="number"]{
        -moz-appearance: textfield;
    }

    #captcha input {
        width: 30px;
        height: 30px;
        text-align: center;
    }
    #captcha input:focus {
        border: 1px solid black;
    }
</style>
</html>